<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Global News Headlines
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Global News</ion-title>
    </ion-toolbar>
  </ion-header>

    <div>
      <ion-spinner *ngIf="!newsList"></ion-spinner>
    </div>
    <div *ngIf="newsList">
      <div *ngFor="let news of newsList">
        <ion-card>
          <ion-card-header>
            <ion-card-title>{{ news.source.name }}</ion-card-title>
            <img src="{{ news.urlToImage }}" alt="" />
            <ion-card-subtitle>{{news.publishedAt}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title>{{news.title}}</ion-card-title>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
</ion-content>
